.container {
	width: 850px;
	margin: auto;	
}

body {
background: #420600 url('img/bg.jpg') repeat;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: gold;
}

.pic img {
float: left;
display: inline;
margin-left: 50px;
}

.main-header {
	height: 130px;
	color: gold;
	/*background-color: #E0E0E0;*/
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 65px;
	margin-right: 
}

#title1, #title2 {
display: inline;
margin-right: 150px;
}

#header-list {
font-size: 30px;
font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

#header-list li {
display: inline;
list-style-type: none;
padding: 10px;
}

.main-content {
text-align: center;
font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
padding: 3px;
margin-top: 100px;
font-size: 30px;
line-height: 1.5;
/*background-color: lightblue;*/
color: white;
}

#coming-soon{
	color: gold;
	font-weight: bold;
	font-size: 30px;
}

#coming-soon2 {
	color: white;
	margin-top: 60px;
}

input {
height: 30px;
width: 60%;
padding: 10px;
margin: 30px -5px;
border: 5px black solid;
border-radius: 5%;
font-size: 25px;
text-align: center;
}

button {
	
	padding: 10px;
	color: #FFF;
	font-size: 25px;
	font-weight: bold;
	width: 25%;
	border: 3px solid #6e9a47;
	border-radius: 10px;
	float: ;
	background: #95c56b;
	font-family: 'Open Sans', sans-serif;
}


#send:hover {
background-color: gold;
border: 3px solid gold;
}

#signup {

}


.main-footer {
	height: 80px;
	color: white;
	/*background-color: #E0E0E0;*/
}

.main-footer a {
	color: white;
}

.main-footer a:hover {
	color: gold;
}

.base {
text-align: center;
}

#footerlink {
text-align: center;
color: white;
font-size: 15px;
font-family: arial;
}

#footerlink a {
text-decoration: none;
color: gold;
vertical-align: middle;
}

.rule {
	height: 3px;
	background-color: black;
}